// Font
$font-stack: 'Roboto' , 'Shrikhand';
$roboto:'Roboto' ;
$shrikhand:'Shrikhand' ;

// Colors
$purple: #9356DC;
$pink: #FF79DA;
$blue: #99E2D0;
$dark:#353535;
$lightgrey:#F6F6F6;
$gradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
