* body {
  font-family: "Roboto", "Shrikhand";
  margin: 0;
  padding: 0;
}
* body a {
  text-decoration: none;
  color: inherit;
}
* body ul li {
  list-style-type: none;
}
* body button {
  border: inherit;
}
* body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 2rem;
  padding: 0.5em;
}

main h1 {
  padding: 0.5rem 0;
  font-size: 1.3rem;
}
main .presentation {
  background-color: #f3f3f3;
  text-align: center;
  padding-bottom: 1rem;
}
main .presentation .presentation_location {
  gap: 1rem;
  padding: 1em;
  font-weight: bold;
  background-color: #eaeaea;
}
main .presentation .presentation_subtitle {
  font-size: 0.9rem;
}
main .presentation .presentation_explore {
  border-radius: 35px;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  padding: 0.8em 1.2em;
}
main .functionning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
main .functionning .steps_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-right: 9rem;
  background-color: #f3f3f3;
  font-size: 14px;
  border-radius: 15px;
  margin-bottom: 1rem;
}
main .functionning .steps_container .steps_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -0.5rem;
  background: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
main .functionning .steps_container .steps_icon {
  text-align: center;
  height: 15px;
  width: 15px;
}
main .restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f3f3f3;
  width: 100%;
  padding-bottom: 3rem;
}
main .restaurants .restaurants_grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(autofit, 1fr);
  grid-row-gap: 2rem;
  width: 70%;
}
main .restaurants .restaurants_grid_container .restaurants_article {
  background: white;
  border-radius: 15px;
  position: relative;
}
main .restaurants .restaurants_grid_container .restaurants_article img {
  width: 100%;
  max-height: 230px;
  object-fit: cover;
  border-radius: 15px 15px 0 0px;
}
main .restaurants .restaurants_grid_container .restaurants_article .new {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-weight: 500;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background: #a9e0d1;
  color: #3b8468;
}
main .restaurants .restaurants_grid_container .restaurants_article .restaurants_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
}

footer {
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer nav .logo {
  font-family: "Shrikhand";
  font-size: 2rem;
  padding: 0.5em;
  font-size: 24px;
  margin-left: 1.5rem;
}
footer nav ul {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
